<mat-card>
  <mat-card-content>
    <form (submit)="onSubmit(formData)">
      <label for="Cname">Registered Company Name: </label><br />
      <input
        type="text"
        id="Came"
        name="Cname"
        value="Design Tribe India private limited"
      /><br />

      <label for="Sname">Short Name:</label><br />
      <input type="text" id="Sname" name="Sname" value="DTPL" /><br />
      <label for="country">Country:</label><br />
      <input type="text" id="country" name="Country" value="India" /><br />
      <label for="Phone">Phone:</label><br />
      <input
        type="tel"
        id="Phone"
        name="Phone"
        value="+91-(0)40-22558877"
      /><br />
      <label for="fax">Fax:</label><br />
      <input type="tel" id="fax" name="fax" value="+91-(0)40-22558877" /><br />
      <label for="email">Email:</label><br />
      <input
        type="email"
        id="email"
        name="email"
        value="rsd@designtribeindia.com"
      /><br />
      <label for="website">website:</label><br />
      <input
        type="text"
        id="website"
        name="website"
        value="www.designtribeindia.com"
      /><br />
      <label for="Whatsapp">Whatsapp Support:</label><br />
      <input
        type="tel"
        id="Whatsapp"
        name="Whatsapp"
        value="+91-(0)40-22558877"
      /><br />
      <label for="linked">LinkedIn:</label><br />
      <input
        type="url"
        id="linked"
        name="linked"
        value="www.linkedin.com/company/dtpl"
      /><br />
      <label for="remarks">Remarks:</label><br />
      <input
        type="text"
        id="remarks"
        name="remarks"
        value="state-of-art development centre located at hyderabad"
      />
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>
